---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const githubUsername = import.meta.env.HOSTNAME || import.meta.env.PUBLIC_HI || 'INSERT_GITHUB_USERNAME_HERE';

---

<Layout title="Home">
		<p class="instructions">
    hello
		</p>
		<ul role="list" class="link-card-grid">
			<Card
        href="/test"
				title="Test"
				body="Learn how Astro worksdfs and explore the official API docs."
			/>
		</ul>
</Layout>

<style>
.link-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
  gap: 2rem;
  padding: 0;
}
</style>
