---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const githubUsername = import.meta.env.HOSTNAME || import.meta.env.PUBLIC_HI || 'INSERT_GITHUB_USERNAME_HERE';

---

<Layout title="Home">
  <p class="instructions">
    This is the official registry for the <a href="https://www.iso.org/standard/78143.html" target="_blank">ISO 24229 standard</a>.
  </p>
  <ul role="list" class="link-card-grid">
    <Card
      href="/registry"
      title="Go to Registry"
      body="View the registry data"
    />
  </ul>
</Layout>

<style>
.link-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
  gap: 2rem;
  padding: 0;
}
</style>
