---
import Li from "./OutwardLink.astro";
import Fl from "./FooterLink.astro";
type Props = Record<string, never>;
---
<footer>
  <div class="footer-wrapper">
    <section class="created-by">
      <h2 class="created-by-text">
        Powered by
      </h2>
      <ul>
        <Li href="https://www.calconnect.org/">
          CalConnect
        </Li>
        <Li href="https://open.ribose.com">
          Ribose Inc
        </Li>
      </ul>
    </section>

    <menu class="source-code-and-related">
      <li>
        <menu>
          <h2>Source code</h2>
          <Li href="https://github.com/iso24229/iso24229.github.io" icon="github">
            This website
          </Li>
          <Li href="https://github.com/iso24229/iso24229-registry" icon="github">
            Registry data
          </Li>
        </menu>
      </li>

      <li>
        <menu>
          <h2>Related projects</h2>
          <Li href="https://interscript.org">
            Interscript
          </Li>
          <Li href="https://extensions.paneron.org/e/@paneron/extension-wlcs-registry/">
            Extension for Paneron
          </Li>
        </menu>
      </li>
    </menu>

    <menu class="social-links">
      <h2>Social</h2>
      <Li href="https://𝕏.com/isostandards">
        𝕏.com (Twitter)
      </Li>
      <Li href="https://www.linkedin.com/company/isostandards" icon="linkedin">
        LinkedIn
      </Li>
    </menu>

    <menu class="legal-links">
      <h2>Legal</h2>
      <Fl href="/privacy">
        Privacy Policy
      </Fl>
      <Fl href="/tos">
        Terms of Service
      </Fl>
    </menu>

    <section class="official-affiliation-notice">
      <div class="logo-iso">
        <a href="https://www.iso.org" target="_blank"><img class="logo-iso" src="/assets/logos/iso-logo-black.svg" /></a>
      </div>
      <div class="copyright-notice">
        © All Rights Reserved
      </div>
      <div class="working-group-text">
        <a href="https://www.iso.org" target="_blank">ISO</a> / <a href="https://www.iso.org/committee/48750.html" target="_blank">TC 46</a> / WG 3
      </div>
    </section>

  </div>
</footer>
<style lang="scss">

footer {
  padding: 2rem var(--main-padding-lr);

  border-top: 2px solid black;
  width: 100%;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

ul, menu {
  padding: 0;
  list-style-type: none;
}

li + li {
  padding-top: 1.5rem;
}

h2 {
  font-size: 0.9rem;
}

.created-by-text {
  text-transform: uppercase;
  font-size: 0.7rem;
  padding-bottom: 0.1rem;
}

h1, h2, h3, h4, h5, h6 {
  padding-bottom: 0.2rem;
}

.official-affiliation-notice {
  display: flex;
  flex-direction: column;
}

// TODO: re-enable when TOS / privacy pages are up
.legal-links {
  display: none;
}

@media only screen
and (max-width: 710px) {
  .footer-wrapper {
    display: grid;
    gap: 2.5rem;
  }
}

</style>
