---

---

<footer>
  <div class="footer-wrapper">
    <div class="source-code">
      <h3>Source code</h3>
      <menu>
        <li class="github link">
          <a href="https://github.com/iso24229/iso24229.github.io" target="_blank">
            <div class="icon-social">
              <img src="/assets/icons/github.svg" />
            </div>
            This website
          </a>
        </li>
        <li class="github link">
          <a href="https://github.com/iso24229/iso24229-registry" target="_blank">
          <div class="icon-social">
            <img src="/assets/icons/github.svg" />
          </div>
            Registry data
          </a>
        </li>
      </menu>
    </div>
    <div class="created-by">
      <h6 class="created-by-text">
        Powered by
      </h6>
      <ul>
        <li>
          <a href="https://www.calconnect.org/" target="_blank">
            CalConnect
          </a>
        </li>
        <li>
          <a href="https://open.ribose.com" target="_blank">
            Ribose Inc
          </a>
        </li>
      </ul>
    </div>

    <menu class="social-links">
      <h3>Links</h3>
      <li>
        <a href="https://twitter.com/isostandards" target="_blank">
          𝕏.com
        </a>
      </li>
      <li>
        <a href="https://interscript.org" target="_blank">
          Interscript
        </a>
      </li>
    </menu>

    <div class="official-affiliation-notice">
      <!-- <h3>Legal</h3> -->
      <div class="logo-iso">
        <a href="https://www.iso.org" target="_blank"><img class="logo-iso" src="/assets/logos/iso-logo-black.svg" /></a>
      </div>
      <div class="copyright-notice">
        <div>
        © All Rights Reserved
        </div>
      </div>
      <div class="working-group-text">
        <a href="https://www.iso.org" target="_blank">ISO</a> / <a href="https://www.iso.org/committee/48750.html" target="_blank">TC 46</a> / WG 3
      </div>
      <!-- <menu> -->
      <!--   <li> -->
      <!--     <a href="/privacy"> -->
      <!--       Privacy Policy -->
      <!--     </a> -->
      <!--   </li> -->
      <!--   <li> -->
      <!--     <a href="/tos"> -->
      <!--       Terms of Service -->
      <!--     </a> -->
      <!--   </li> -->
      <!-- </menu> -->
    </div>
  </div>
</footer>
<style lang="scss" is:global>

footer {
  padding: 2rem var(--main-padding-lr);

  border-top: 2px solid black;
  width: 100%;

  div {
    display: inline-block;
    vertical-align: middle;
  }
}

.official-affiliation-notice {
  display: flex;
  flex-direction: column;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;

  ul, menu {
    padding: 0;
    list-style-type: none;
    li {
      padding-top: 0.5rem;
    }
  }

  .created-by-text {
    text-transform: uppercase;
    font-size: 0.7rem;
    padding-bottom: 0.1rem;
  }

  h3 {
    padding-bottom: 0.2rem;
  }

  .icon-social {
    display: inline-block;
    background: url("/assets/icons/github.svg");
    width: 1rem;
    height: 1rem;
    vertical-align: sub;
  }
}


@media only screen
and (max-width: 710px) {

  .footer-wrapper {
    display: grid;
    gap: 2.5rem;
  }
}

</style>
