---
type Props = Record<string, never>;
---
<main transition:animate="fade">
  <div class="main-wrapper">
    <slot />
  </div>
</main>

<style lang="scss" is:global>
h1, h2, h3, h4, h5, h6, p {
  padding-bottom: 1rem;
}

* + h1, * + h2, * + h3, * + h4, * + h5, * + h6, * + p {
  padding-top: 1rem;
}

p {
  a {
    &::before {
      content: "";
      position: absolute;
      top: 100%;
      width: 100%;
      left: 0;
      height: 3px;
      border-radius: 2px;
      background-image: var(--accent-gradient);
    }
  }
}

</style>

<style lang="scss">
main {
  flex: 1;
  padding: 2rem var(--main-padding-lr);
  width: 100%;
  font-size: 20px;
  line-height: 1.6;
}

.attention-error {
  main {
    display: flex;
  }
  .main-wrapper {
    flex-direction: column;
    display: flex;
    justify-content: center;
  }
}


</style>
