---
interface Props {
  href: string;
}

const { href } = Astro.props;

// Remove trailing slash before comparing.
const currentPath = Astro.url.pathname.replace(/(.)\/$/, '$1');
const isSelected = ((href: string): bool => currentPath === href);
const li_props = isSelected(href) ? { class: 'active' } : {};
---
<li {...li_props}><a {...Astro.props}><slot /></a></li>

<style lang="scss">
li + li {
  padding-left: 1rem;
}

a {
  font-weight: 600;
}

li.active a {
  border-bottom: 2px solid black;
  transition: border-bottom .5s ease-in-out;
}

</style>
