---

interface Props {
  href: string;
//   title?: string;
//   classes?: string;
}

const { href } = Astro.props;
// let { classes = '' } = Astro.props;

// let selected = false;
const isSelected = (() => href === Astro.url.pathname);
---
  <li {...( href === Astro.url.pathname ? { class: 'active' } : {} )}><a {...Astro.props}><slot /></a></li>
<style lang="scss">
li + li {
  padding-left: 1rem;
}
a {
  font-weight: 600;
}

li.active a {
  border-bottom: 2px solid black;
  transition: border-bottom .5s ease-in-out;
}

</style>
